<h1>Alert Dimissing</h1>

<div class="alert">
    <p class="alert-close">X</p>
    <p>Alerta Alerta ---> Presiona la X y esto desaparecera :) ---> </p>
</div>



<br>
<h1>Collapse</h1>

<button class="btn boton">Botón Mágico</button>
<div class="contenido">
    <hr>
    Aparece... Desaparece...    <hr>
</div>


<br>
<h1>Collapse Accordion</h1>
<div>
    <div>
        <button class="acordeon" data-target="acordion-1">Seccion Uno</button>
    </div>
    <div id="acordion-1">
        <hr>
        Contenido Uno
        <hr>
    </div>

    <div>
        <button class="acordeon" data-target="acordion-2">Seccion Dos</button>
    </div>
        <div id="acordion-2">
        <hr>
        Contenido Dos
        <hr>
    </div>

    <div>
        <button class="acordeon" data-target="acordion-3">Seccion Tres</button>
    </div>
    <div id="acordion-3">
        <hr>
        Contenido Tres
        <hr>
    </div>
</div>


